.product-list {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
}

::ng-deep p-card {
    width: 60%;
}

.group {
    margin: 1rem;
    h3 {
        font-size: 14px;
    }

    p {
        background: #efefef;
        padding: .5rem 1rem;
        border-radius: 10px;
    }
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}